.SearchForm {
  min-width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SearchBar {
  min-width: 50%;
  padding: 10px;
  border: none;
}
.SearchButton {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}
